.Element_Properties{
    display: block;
    position: absolute;
}
.Man_wrapper{
    width: 500px;
    height: 600px;
    perspective: 650px;
    margin: auto;
}
.Man_Head{
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50px;
    left: 200px;
    top: 100px;
    transform:scaleY(1.4);
}
.Man_Body{
    height: 220px;
	width:146px;
    left: 163px;
    top:180px;
    background-color: white;
    transform: rotateX(-45deg);
    border: 2px solid black;
}



.Man_Hand{
    position: absolute;
    display: block;
    border: 1px solid black;
    height:150px;
}
.Man_Hand-Left{
    left: 150px;
    top:203px;
    transform-origin: top;
    transform: skewX(185deg);
    animation: Hand 0.5s linear infinite alternate;
}
.Man_Hand-Right{
    left:320px;
    top:203px;
    transform-origin: top;
    transform: skewX(185deg);
    animation: Hand 0.5s linear infinite alternate-reverse;
    animation-delay: -.47s;
}
@keyframes Hand{
    0%{transform:skewX(-175deg);}
    50%{transform:skewX(-180deg);}
    100%{transform:skewX(-185deg);}
}



.Man_Wrist{
    top:283px;
    left: 163px;
    height: 70px;
    border: 1px solid black;
    transform-origin: bottom;
    transform: rotate(-120deg);
}
.Man_Wrist-Left{
    left: 164px;
    animation: Hand-Wrist 1s  linear infinite ;
}
.Man_Wrist-Right{
    left: 334px;
    animation: Hand-Wrist 1s  linear infinite reverse;
}
@keyframes Hand-Wrist{
     0%{transform: rotate(-220deg);}
     32%{transform: rotate(-340deg); margin-left:-16px;}
     48%{ margin-left: -26px;}
     66%{transform: rotate(-460deg); margin-left:-16px;}
     100%{transform: rotate(-580deg);}
}



.Man_Ball{
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
}
.Man_1stBall-Left{
    animation: circle-left 2s linear infinite ;
    animation-fill-mode: backwards;
}
.Man_2stBall-Left{
    animation: circle-left 2s linear infinite;
    animation-delay: -1s;
    animation-fill-mode: backwards;
}

.Man_1stBall-Right{
    animation: circle-right 2s linear infinite ;
    animation-delay: -0.5s;
}
.Man_2stBall-Right{
    animation: circle-right 2s linear infinite ;
    animation-delay: -1.5s;
    animation-fill-mode: backwards;
}

@keyframes circle-left{
    0%,100%{
        top:350px;
        left: 170px;
    }
    35%{
        top: 60px;
        left: 90px;
    }
    40%{
         top: 60px;
         left: 90px;
     }

    64%{
        top: 360px;
        left: 30px;
    }
    67%{
        top: 370px;
        left: 31px;
    }
    70%{
        top: 378px;
        left: 35px;
    }
    73%{
        top: 380px;
        left: 42px;
    }
    76%{
        top: 384px;
        left: 50px;
    }
    79%{
        top: 388px;
        left: 60px;
    }
    82%{
        top: 390px;
        left: 73px;
    }
    85%{
        top: 388px;
        left: 86px;
    }
    88%{
        top: 384px;
        left: 100px;
    }
    91%{
        top: 378px;
        left: 138px;
    }
    94%{
        top: 370px;
        left: 167px;
    }
    97%{
        top: 360px;
        left: 170px;
    }

}
@keyframes circle-right{
    0%,100%{
        top:320px;
        right: 210px;
    }
    35%{
        top: 60px;
        right: 130px;
    }
    40%{
        top: 60px;
        right: 130px;
    }

    64%{
        top: 320px;
        right: 100px;
    }
    67%{
        top: 330px;
        right: 101px;
    }
    70%{
        top: 340px;
        right: 102px;
    }
    73%{
        top: 348px;
        right: 115px;
    }
    76%{
        top: 354px;
        right: 120px;
    }
    79%{
        top: 358px;
        right: 130px;
    }
    82%{
        top: 360px;
        right: 140px;
    }
    85%{
        top: 358px;
        right: 150px;
    }
    88%{
        top: 354px;
        right: 160px;
    }
    91%{
        top: 348px;
        right: 168px;
    }
    94%{
        top: 340px;
        right: 207px;
    }
    97%{
        top: 330px;
        right: 210px;
    }

}